@model Online_Shop.ViewModels.ViewModelFood

@{
    Layout = "~/Views/Shared/_LayoutNotLoggedIn.cshtml";
}

<h1>Order submitted!</h1>

Thank you for your order.

@if (User.IsInRole("Premium"))
{
    <label>Current points:</label> @Model.CurrentCustomer.Points
}