@model Online_Shop.ViewModels.ViewModelFood

@{
    Layout = "~/Views/Shared/_LayoutNotLoggedIn.cshtml";
}

<h1>Order submitted!</h1>
<hr class="accent my-5">

Thank you for your order.

@if (User.IsInRole("Premium"))
{
    <h6>Current points: @Model.CurrentCustomer.Points</h6>
}

