@{
    Layout = "~/Views/Shared/_LayoutNotLoggedIn.cshtml";
}


<h1>Admin</h1>

<ul>
    <li><a asp-controller="Admin" asp-action="ManageMenu">Manage menu</a></li>
    <li><a asp-controller="Admin" asp-action="ManageIngredients">Manage ingredients</a></li>
    <li><a asp-controller="Admin" asp-action="ManageOrders">Manage orders</a></li>
    <li><a asp-controller="Admin" asp-action="ManageUsers">Manage users</a></li>
</ul>