@using Microsoft.AspNetCore.Identity
@using Online_Shop.ModelsIdentity

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@if (signInManager.IsSignedIn(User))
{
<ul id="account-nav" class="navbar-nav mt-2 mt-lg-0">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="ViewProfile">@User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Logout">Log out</a>
    </li>
    @if (User.IsInRole("Administrator"))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin</a>
        </li>
    }
</ul>
}
else
{
    <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">Log in</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">Sign up</a>
        </li>
    </ul>
}