footer {
    background-color: #e52020;
}

.ingredients li {
    display: inline-block;
}

.ingredients ul {
    padding: 0;
}

#account-nav li {
    text-align: right;
}

.jumbotron {
    background: url('../pics/header.jpg') no-repeat center center;
    background-color: #ffffff;
    color: #ffffff;
}

 .jumbotron h1 {
    color: #ffffff;
    text-align: left;
}

.bg-light {
    background-color: #e52020 !important;
    color: #ffffff !important;
}

#content {
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#cart-total {
    text-align: right;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.text-primary {
    color: red !important;
}

h3 {
    color: red;
}

h1 {
    color: red;
    text-align: center;
}

.btn-primary {
    background-color: red;
    border-color: white;
}

.btn-primary:hover {
    background-color: #ff4444;
    border-color: white;
}

.btn-outline-success {
    color: white;
    background-color: #64d17d;
}

h6 {
    color: red;
}

h4 {
    color: red;
}

a {
    color: green;
}

footer a {
    color: white;
}

footer a:hover, a::after {
    color: white;
    text-decoration: none;
}

footer p {
    color: white;
}